@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8ff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    @apply transition-colors duration-150;
  }
}
